// 320 360 375 384 400 414 424 480 540 720 750
@number :15;

html {
    font-size: 50px;
}

@media screen and (min-wdith:320px) {
    html {
        font-size: 320px / @number;
    }
}

@media screen and (min-wdith:360px) {
    html {
        font-size: 360px / @number;
    }
}

@media screen and (min-wdith:375px) {
    html {
        font-size: 375px / @number;
    }
}

@media screen and (min-wdith:384px) {
    html {
        font-size: 384px / @number;
    }
}

@media screen and (min-wdith:400px) {
    html {
        font-size: 400px / @number;
    }
}

@media screen and (min-wdith:414px) {
    html {
        font-size: 414px / @number;
    }
}

@media screen and (min-wdith:424px) {
    html {
        font-size: 424px / @number;
    }
}

@media screen and (min-wdith:480px) {
    html {
        font-size: 480px / @number;
    }
}

@media screen and (min-wdith:540px) {
    html {
        font-size: 540px / @number;
    }
}

@media screen and (min-wdith:720px) {
    html {
        font-size: 720px / @number;
    }
}

@media screen and (min-wdith:750px) {
    html {
        font-size: 750px / @number;
    }
}