@import 'common.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

@basefont: 50;

body {
    min-width: 320px;
    width: 750 / 50rem;
    margin: 0 auto;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f2f2;
}

.search-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 750rem / @basefont;
    height: 88rem / @basefont;
    background: #ffc002;

    .classify {
        width: 44rem / @basefont;
        height: 70rem / @basefont;
        background: purple;
        margin: 11rem / @basefont 25rem / @basefont 7rem / @basefont 24rem / @basefont;
        background: url('../images/classify.png') no-repeat;
        background-size: 44rem / @basefont 70rem / @basefont;
    }

    .search {
        flex: 1;

        input {
            width: 100%;
            outline: none;
            border: none;
            margin-top: 12rem / @basefont;
            border-radius: 33rem / @basefont;
            padding-left: 55rem / @basefont;
            height: 66rem / @basefont;
            background: #fff;
            font-size: 25rem / @basefont;
        }
    }

    .login {
        width: 75rem / @basefont;
        height: 70rem / @basefont;
        margin: 10rem / @basefont;
        font-size: 20rem / @basefont;
        line-height: 70rem / @basefont;
        text-align: center;
        color: #fff;
    }
}

// banner

.banner {
    width: 750rem / @basefont;
    height: 368rem / @basefont;

    img {
        width: 100%;
    }
}

// ad
.ad {
    display: flex;

    a {
        flex: 1;

        img {
            width: 100%;
        }
    }
}

// nav
nav a {
    float: left;
    width: 150rem / @basefont;
    height: 140rem / @basefont;
    text-align: center;

    img {
        display: block;
        margin: 0.2rem auto 0;
        width: 82rem / @basefont;
        height: 82rem / @basefont;
    }

    span {
        font-size: 25rem / @basefont;
        color: #333
    }
}