@import 'common.css';
a {
  text-decoration: none;
}
body {
  min-width: 320px;
  width: 15rem;
  margin: 0 auto;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  background: #f2f2f2;
}
.search-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 15rem;
  height: 1.76rem;
  background: #ffc002;
}
.search-container .classify {
  width: 0.88rem;
  height: 1.4rem;
  background: purple;
  margin: 0.22rem 0.5rem 0.14rem 0.48rem;
  background: url('../images/classify.png') no-repeat;
  background-size: 0.88rem 1.4rem;
}
.search-container .search {
  flex: 1;
}
.search-container .search input {
  width: 100%;
  outline: none;
  border: none;
  margin-top: 0.24rem;
  border-radius: 0.66rem;
  padding-left: 1.1rem;
  height: 1.32rem;
  background: pink;
  font-size: 0.5rem;
}
.search-container .login {
  width: 1.5rem;
  height: 1.4rem;
  margin: 0.2rem;
  font-size: 0.4rem;
  line-height: 1.4rem;
  text-align: center;
  color: #fff;
}
